# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Getting familiar with Jupyter Notebooks 
* Using markdown cells
* Using code cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPY
2. Scikit-learn
3. Pandas

| Data Science Tools | 
| -------------|
| Jupyter Notebooks |
| Pytorch | 
| MLFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author 
Nasr